[submodule "VivienneVMM"]
	path = VivienneVMM
	url = https://github.com/changeofpace/VivienneVMM.git
	branch = submodule/pareidolia-triggerbot
[submodule "MouClassInputInjection"]
	path = MouClassInputInjection
	url = https://github.com/changeofpace/MouClassInputInjection.git
	branch = submodule/pareidolia-triggerbot
