[submodule "VivienneVMM"]
	path = VivienneVMM
	url = https://github.com/changeofpace/VivienneVMM.git
	branch = feature/static-library-build-configurations
[submodule "MouClassInputInjection"]
	path = MouClassInputInjection
	url = https://github.com/changeofpace/MouClassInputInjection.git
	branch = feature/static-library-build-configurations
